.Nv__Cl{
    display: flex;
    justify-content:center;
    align-items:center;
    background:rgba(232, 218, 236, 0.499);
    backdrop-filter:blur(10px);
    border-left:5px solid rgb(255, 69, 69);
    border-right:5px solid rgb(255, 69, 69);
    border-radius:8px;
}