@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Alike&family=Comfortaa&family=Delicious+Handrawn&family=Krub&family=Montserrat:wght@300&family=Playfair+Display&family=Poppins:wght@300&family=Ubuntu:wght@300&family=Varela+Round&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  /* background: #d5e1ef; */
  background-image: url("https://img.freepik.com/free-vector/qr-code-concept-illustration_114360-5853.jpg?w=826&t=st=1687547307~exp=1687547907~hmac=3e5835ba5cd9c3c5cb93d9a06def494fced93804e118a7750db022fdca5348fb");
  background-repeat: no-repeat;
  background-size:  1050px ;
  background-position: center;
}
